<script src="https://accounts.google.com/gsi/client" async defer></script>

<h1>Login</h1>
<form method="POST">
    <label>
        Username <input type="text" name="username">
    </label><br/>
    <label>
        Password <input type="password" name="password">
    </label><br/>
    <input type="submit">
</form>

<!--todo login with google-->
<!--todo eit the login_uri-->
<div id="g_id_onload"
     data-client_id="{{.GoogleClientID}}"
     data-login_uri="{{.LoginURI}}"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-size="large"
     data-theme="outline"
     data-text="sign_in_with"
     data-shape="rectangular"
     data-logo_alignment="left">
</div>
<br/>
<a href="/signup">Dont have an account ? Sign-up here</a>
